<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9f65918680.js" crossorigin="anonymous"></script>
    <title>Gamer Zone Home</title>
    <link rel='stylesheet' href='/stylesheets/detail.css' />
  </head>
  <body>

       <!--Header-->
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
              <a class="navbar-brand" style="color: rgb(72, 228, 25);" href="/">GamerZone</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"></a>
                      </li>
                      <li class="nav-item dropdown">
                  </ul>
                  <form class="form-inline my-0 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos..." aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 5px;">Iniciar sesion</button>
                  </form>
              </div>
          </nav>
      </div>
          <!--Subheader-->
      <div class="container-fluid">
          <nav class="nav text-center  navbar-dark navbar-expand-sm" style="background-color: rgb(54, 180, 54);">
              <ul class="navbar-nav ">
                  <li class="nav-item">
                        <a class="nav-link " href="/">Menu</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link active" href="/pc-gaming">Pc Gaming</a>
                  </li>
                  <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Consolas</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/carrito">Carrito(<span>0</span>)</a>
                  </li>
              </ul>
          </nav>
  <!--Body-->

  <div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h1> </h1>
        </div>
    </div>
    <div class="product-detail mt-4">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="/images/<%= product.image %> " alt="product image" class="img-fluid">
            </div>
            <div class="col-12 col-lg-4">
                <article class="product-detail-info">
                    <h2 class="product-detail-title"><%= product.name %> </h2>
                    
                        <p class="product-detail-price small">
                            <span style="font-size: 1.1em;">$<%= product.price %> </span>
                            /
                            <b style="color: green; font-size: 1.5em;"><%= product.descuento %> % OFF</b>
                        </p>
                        <h6 href="">Precio Final</h6>
                        <h6 class="product-detail-price mb-4" style="font-size: 1.5em;">
                            $<%= product.price - (product.price * product.descuento / 100) %> 
                        </h6>
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <i class="fas fa-credit-card mr-1"></i>
                            <p>Pagá en 12 cuotas sin interes</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-store mr-1"></i>
                            <p>Retiro gratis en locales del vendedor</p>
                        </li>
                    </ul>
                    <form action="/carrito/<%= product.id %>" method="POST">
                        <button type="submit" class="btn btn-outline-success">AGREGAR AL CARRITO</button>
                        <hr>
                    </form>

                    <!-- <a href="/products/edit/<%= product.id %> " class="action-button edit">EDITAR PRODUCTO</a>
                    <form action="/products/delete/<%= product.id %> ?_method=delete" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                    </form> -->
                </article>
            </div>
            <div class="col-lg-8 mt-4">
                <p class="product-detail-description">
                    <%=  product.description%>
                </p>
            </div>
        </div>
    </div>
</div>

  <!--Footer-->
  <footer class="page-footer bg-dark text-white">

      <div class="bg-success">
          <div class="container">
              <div class="row py-3 d-flex align-items-center">

                  <div class="col-md-12 text-center">
                      <a href="#"><i class="fab fa-facebook-f text-white mr-4"></i></a>
                      <a href="#"><i class="fab fa-twitter text-white mr-4"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g text-white mr-4"></i></a>
                      <a href="#"><i class="fab fa-instagram text-white text-white mr-4"></i></a>
                  </div>
              </div>
          </div>
      </div>

      <div class="container text-center text-md-left mt-5">
          <div class="row">
              <div class="col-md-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">MI CUENTA</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px;">

                  <ul class="list-unstyled">
                      <li class="my-2"><a href="#" class="text-white">Compras</a></li>
                      <li class="my-2"><a href="#" class="text-white">Direccion</a></li>
                      <li class="my-2"><a href="#" class="text-white">Datos Personales</a></li>
                      <li class="my-2"><a href="#" class="text-white">Metodo de Pago</a></li>
                  </ul>
              </div>

              <div class="col-md-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">INFORMACION</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px;">

                  <ul class="list-unstyled">
                      <li class="my-2"><a href="#" class="text-white">On-Sale</a></li>
                      <li class="my-2"><a href="#" class="text-white">Destacados</a></li>
                      <li class="my-2"><a href="#" class="text-white">Novedades</a></li>
                      <li class="my-2"><a href="#" class="text-white">Acerca de Nosotros</a></li>
                  </ul>
              </div>    

              <div class="col-md-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">HOME</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px;">

                  <ul class="list-unstyled">
                    <li class="my-2"><a href="/" class="text-white">Home</a></li>
                    <li class="my-2"><a href="/pc-gaming" class="text-white">Pc Gaming</a></li>
                    <li class="my-2"><a href="carrito" class="text-white">Carrito</a></li>
                </ul>
            </div>  


              <div class="col-md-3 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">Contacto</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px;">

                  <ul class="list-unstyled">
                      <li class="my-2"><i class="fas fa-home mr-3"></i>Av. Chivilcoy 4591</li>
                      <li class="my-2"><i class="far fa-envelope mr-3"></i>Gamerzone@gmail.com</li>
                      <li class="my-2"><i class="fab fa-whatsapp mr-3"></i>+113140557</li>
                      <li class="my-2"><i class="fas fa-phone mr-3"></i>+4501-5214</li>
                  </ul>
              </div>  
          </div>
      </div>

      <div class="footer-copyright text-center py-3" style="background-color: rgb(54, 54, 54);" id="info">
          <p style="color: grey;">< Coded by Lucas Rossetto - Federico Balch - Salvador ></p>
      </div>


  </footer>

   
    


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
